.container{

    padding-top: 68px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;

}

.container h2{

    margin-bottom: 1rem;
}

.container form{

    width: 50%;
    max-width: 90%;
    background-color: #333333;
    border-radius: 20px;
    padding: 36px 64px;
    font-size: 1.5rem;
    

}

.container div{
    margin-bottom: 1rem;

}

.container input, .container select{

    background-color: #fff;
    width: 100%;
    padding: 15px 5px;
    margin-bottom: 0.5rem;
    border: 0;
    outline: none;
    border-radius: 5px;
    font-size: 1.125rem;

}

.container button{

    background-color: #b71c1c;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.3rem;
    padding: 20px 28px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin-top: 0.5rem;
    width: 200px;
    height: 55px;

}

.container button:hover{
    background-color: #f44336;
}

@media (max-width: 730px) {
    
    .container form{
        width: 100%;
    }

    .container input{
        font-size: 1rem;
    }

    .container select{
        font-size: 0.85rem;
    }

    .container label{
        font-size: 1.2rem;
    }

    .container button{
        width: 100px;
        height: 40px;
        font-size: 0.8rem;
        padding: 0;
    }
  

}

@media (max-width: 380px) {

    .container form{
        width: 80%;
    }
}