* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cards{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

h2{
    padding-top: 3%;
    padding-bottom: 1%;
}